<ion-header no-border>
  <ion-navbar color="navbar" mode="md">
    <ion-title>VOGUE</ion-title>

    <ion-buttons end>
      <button ion-button>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{title}}</h1>

  <button
    *ngIf="startShow"
    ion-button full
    (click)="start()">
    开始获取图片
  </button>

  <button
    ion-button full
    (click)="query(true)">
    手动查询
  </button>

  <button
    *ngIf="downloadShow && title"
    style="margin-top: 50px"
    ion-button full
    (click)="copy()">
    复制标题到剪贴板
  </button>

  <button
    *ngIf="downloadShow"
    style="margin-top: 50px"
    ion-button full
    (click)="save()">
    一键下载9张图
  </button>

  <button
    *ngIf="downloadShow"
    ion-button full
    (click)="openSafari()">
    在Safari中打开
  </button>

  <button
    style="margin-top: 50px"
    ion-button full
    (click)="delete()">
    删除所有图片
  </button>
</ion-content>
