<ion-header>
  <ion-navbar>
    <ion-title>臭居居</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content (click)="hideEmojiPicker()">
  <div class="message-wrap">
    <div *ngFor="let msg of msgList"
         class="message"
         [class.left]=" msg.from !== userService.userId "
         [class.right]=" msg.from === userService.userId "
    >
      <img
        class="user-img"
        [src]="msg.from === userService.userId ? 'assets/img/avatar.gif' : 'assets/img/avatar2.png'"
        alt=""
        src=""
      >
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>{{msg.from === userService.userId ? '香居居' : '臭居居'}}&nbsp;&nbsp;&nbsp;{{msg.timestamp | relativeTime}}</p>
        </div>
        <button class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.text}}</p>
        </button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer [keyboardAttach]="content" no-border>
  <ion-toolbar>
    <ion-buttons left>
      <button class="footer-button" ion-button clear icon-only left (click)="switchEmojiPicker()">
        <ion-icon name="md-happy"></ion-icon>
      </button>
    </ion-buttons>

    <chat-input
      #input
      placeholder="Text Input"
      lineHeight="20"
      maxExpand="5"
      (keyup.enter)="sendMsg()">
    </chat-input>

    <ion-buttons right>
      <button class="footer-button" ion-button icon-only right (click)="sendMsg()">
        <ion-icon name="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <!--<emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="editorMsg"></emoji-picker>-->
  <emoji-picker [hidden]="!showEmojiPicker" #emojiPicker></emoji-picker>
</ion-footer>
