page-tab-note {
  ion-item-options > button {
    width: 90px;
  }

  h4 {
    font-size: large;
  }

  .date {
    margin: 12px 0 0 0 !important;
    width: 65px;
    white-space: pre-line;
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
  }

  .time {
    font-size: 15px;
    font-weight: bold;
  }

  .note-row {
    align-items: flex-start;
  }

  .danger {
    background-color: color($colors, danger);
  }

  .pp {
    margin-top: 5px;
    font-size: small;

    white-space: normal; // 多行
    text-overflow: ellipsis; // 超出的宽度显示省略号
    overflow: hidden; // 不超出父元素

    // 限制最大行数
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  // 隐藏super tabs
  super-tabs {
    ion-toolbar {
      position: absolute !important;
      top: -100px;
    }
  }

  ion-segment {
    width: 70% !important;
    .segment-button {
      height: 3.8rem !important;
      color: white !important;
      font-size: 20px !important;
      border-bottom-color: transparent !important;
    }
  }
}
