page-tab-note {
  ion-item-options > button {
    width: 90px;
  }

  h4 {
    font-size: large;
  }

  .danger {
    background-color: color($colors, danger);
  }

  .pp {
    font-size: small;

    white-space:pre; // 多行
    text-overflow:ellipsis; // 超出的宽度显示省略号
    overflow:hidden; // 不超出父元素

    // 限制最大行数
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
