page-note-search {
  .pp {
    font-size: medium;
    color: #4A4A4A;

    white-space: normal; // 多行
    text-overflow: ellipsis; // 超出的宽度显示省略号
    overflow: hidden; // 不超出父元素

    // 限制最大行数
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
