$background: #E5E7ED;
$tint-background: #6B778D;
$tint-button: #4C5C76;
$tint-contrast: white;
$text-title: #4D8570;
$text-normal: #70839D;

.theme-fay {
  ion-content {
    background-color: $background;
    color: $tint-contrast;
  }

  .toolbar-title {
    color: #fff;
  }

  .header {
    .toolbar-background {
      background-color: $tint-background;
    }

    button {
      background-color: $tint-background;
    }
  }

  ion-tabs .tabbar {
    background-color: $tint-background;
  }

  ion-tabs {
    .tab-button {
      color: #fff !important;
      .icon {
        color: #fff !important;
      }
    }
  }

  button {
    background-color: $tint-button;
    color: $tint-contrast;
  }

  ion-list .item {
    background-color: $background;
    color: #fff;
  }

  ion-checkbox button {
    background-color: transparent !important;
  }

  ion-datetime button {
    background-color: transparent !important;
  }

  textarea {
    color: $text-normal;
  }

  h1, h2, h3, h4 {
    color: $text-title;
  }

  p {
    color: $text-normal !important;
  }
}
