// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// 颜色 http://www.jianshu.com/p/27ee6ed3fe6b
// 主题化 https://segmentfault.com/a/1190000008626945
$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,

  content-background: #E5E1DF,
  tint-background: (
    base: #A4C7C2,
    contrast: white
  ),
  tint-button: (
    base: #A4C7C2,
    contrast: white
  ),
  text-title: #7C7877,
  text-normal: #A0939A,
);

$eveylast: (
  content-background: #E5E1DF,
  tint-background: (
    base: #B0CDC8,
    contrast: white
  ),
  tint-button: (
    base: #A4C7C2,
    contrast: white
  ),
  text-title: #7C7877,
  text-normal: #A0939A,
);

$fay: (
  background: #E5E7ED,
  tint-background: #6B778D,
  tint-button: (
    base: #4C5C76,
    contrast: white
  ),
  text-title: #4D8570,
  text-normal: #70839D,
);

$grey-green: (
  background: #E5F1F1,
  tint-background: #AACCC9,
  tint-button: (
    base: #9CC3C0,
    contrast: white
  ),
  text-title: #75AAAD,
  text-normal: #80AF83,
);

$yellow-purple: (
  background: #FFFCF1,
  tint-background: #FFFCF1,
  tint-button: (
    base: #FDDA6C,
    contrast: white
  ),
  text-title: #6A60A9,
  text-normal: #BAA0EA,
);

$暖色: (
  background: #FAF6EA,
  tint-background: #CECBCD,
  tint-button: (
    base: #C7C5C0,
    contrast: white
  ),
  text-title: #22232D,
  text-normal: #7B7B7B,
);

$基本: (
  background: #F9F9F9,
  tint-background: #CECECE,
  tint-button: (
    base: #CACACA,
    contrast: white
  ),
  text-title: #22232D,
  text-normal: #888888,
);

// 灰色
$dark: (
  background: #3D3D3D,
  // 主题色背景
  tint-background: (
    // 组件的背景颜色
    base: #2D2D2D,
    // 组件的文本颜色、内部颜色
    contrast: #D5D5D5
  ),
  // 主题色按钮
  tint-button: (
    base: #2D2D2D,
    contrast: #D5D5D5
  ),
  // 标题文字颜色
  text-title: #E4E4E4,
  // 一般文字的颜色
  text-normal: #BABABA,
);

// 粉色
$pick: (
  background: #F9F3DF,
  tint-background: #F5D0C7,
  tint-button: (
    base: #F3C6C2,
    contrast: white
  ),
  text-title: #E99492,
  text-normal: #847C71,
);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
//@import "ionic.theme.dark";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


* {
  margin: 0;
  padding: 0;
  border: 0 none;
}
