// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

@import "theme.pink";
@import "theme.eveylast";
@import "theme.fay";
@import "theme.dark";
@import "theme.grey-green";
@import "theme.yellow-purple";
@import "theme.basic";
@import "theme.warm";

@import '../components/ion-digit-keyboard/ion-digit-keyboard';

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// 颜色 http://www.jianshu.com/p/27ee6ed3fe6b
// 主题化 https://segmentfault.com/a/1190000008626945
$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  // ion-button按下的颜色，如果不设置，是根据primary走
  btn-selected: #FBFBFB,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
//@import "ionic.theme.dark";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import "super-tabs";

@font-face {
  font-family: "Kai";
  src: url("../assets/fonts/kaiti.ttf") format("truetype");
}

$font-family-md-base: "Kai";
$font-family-ios-base: "Kai";
$font-family-wp-base: "Kai";

* {
  border: 0;
}

// 导航栏按钮加间距
ion-navbar .bar-button-ios {
  margin: 0 7px 0 7px !important;
}

// content底部减少间距
.scroll-content {
  margin-bottom: 0 !important;
}

// 导航栏高度
ion-header, ion-navbar {
  min-height: 64px !important;
}

// super tab 高度
super-tabs-toolbar {
  super-tab-button {
    height: 40px !important;
  }
  .title {
    line-height: 40px !important;
  }
}
