<!--suppress ALL -->

<ion-content>
  <!--<ion-calendar-->
    <!--[(ngModel)]="calendar"-->
    <!--[options]="calendarOptions"-->
    <!--[type]="type"-->
    <!--(onChange)="onCalendarChange($event)"-->
    <!--[format]="'YYYY-MM-DD'">-->
  <!--</ion-calendar>-->

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let note of this.notes">
      <ion-item class="note-row" no-lines>
        <h1 class="date" item-left>{{showDate(note)}}</h1>
        <div (click)="toMarkdown(note)">
          <h2 class="time">{{showTime(note)}}</h2>
          <p class="pp">{{note.attributes.text}}</p>
        </div>
      </ion-item>

      <ion-item-options cancelable="false">
        <button ion-button color="btn-selected" (click)="toEdit(note)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="btn-selected" class="danger" (click)="deleteNote(note)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <ion-fab class="bottom-fab" bottom right>
    <button ion-fab color="btn-selected">
      <ion-icon name="add"></ion-icon>
    </button>

    <ion-fab-list side="top">
      <button ion-fab color="btn-selected" (click)="toEdit()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>

    <ion-fab-list side="left">
      <button ion-fab color="btn-selected" (click)="toDaysMarkdown()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
