<ion-header no-border>
  <ion-navbar color="navbar">
    <ion-title>Markdown</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="change()">
        <ion-icon name="repeat"></ion-icon>
      </button>
      <button ion-button icon-only (click)="copy()">
        <ion-icon name="copy"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p [innerHTML]="convertedHtml" *ngIf="isConverted"></p>
  <p *ngIf="!isConverted" class="originText">{{originText}}</p>
</ion-content>
